.image{
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
    border: none;
    outline: none;
}

.slick-arrow{
    color: black;
}
.slick-prev{
    z-index: 100;
    left: 20px !important;
    filter: invert(1);
}
.slick-next{
    z-index: 100;
    right: 20px !important;
    filter: invert(1);
}
.innerSlider{
    padding-right: 1%;
    padding-left: 1%;
    outline: none;
}